/*--- адаптив телефон ---*/
@media screen and (max-width: 2000px){
    .menu-menu{
        display: none;
    }
}
@media screen and (max-width: 1440px){
    .conteiner, .conteinerssss{
        width: 90%;
        margin: 0 auto;
    }
}  
@media screen and (max-width: 1240px){
    @media screen and (max-width: 1120px){
        .w1{
            display: none;
        }
    }
    @media screen and (max-width: 970px){
        section, footer{
            flex-wrap: wrap;
        }
        .conteiner nav .menu{
            padding-right: 10px;
        }
        .w1{
            position: none;
        }
        .dva .slider{
            flex-direction: column;
        }
        .dva .slider div .z1{
            padding-top: 0px;
            padding-right: 50px;
        }
        .slider .slide{
            justify-content: center;
            text-align: center;
        }
        .flex{
            padding-bottom: 0px;
        }
        /*первый блок и шапка*/
        .spisok{
            font-size: 9px;
            padding-right: 20px;
        }
        nav p{
            font-size: 12px;
            padding-right: 50px;
        }
        header nav p{
            padding-right: 20px;
        }
        .one{
            font-size: 8px;
            padding-top: 33px;
        }
        h1{
            font-size: 25px;
        }
        .tre{
            max-width: 344px;
            font-size: 7px;
            line-height: 15px;
        }
        .blue1 {
            max-width: 117px;
            height: 33px;
            font-size: 14px;
        }
        .button_white{
            padding: 3px 10px 3px 10px;
        }
        .w1 img{
            width: 355px;
            padding-left: 10px;
        }
        .w1 .w2{
            width: 50px;
            height: 40px;
            left: 160px;
            top: 80px;
        }
        /*второй блок*/
        /* .arrows{
            display: none;
        } */
        .sto{
            font-size: 8px;
            padding-top: 50px;
        }
        h2{
            font-size: 18px;
            line-height: 30px;
        }
        .dva .slider div .z1{
            max-width: 255px;
            height: 180px;
        }
        .byb{
            font-size: 15px;
        }
        .im1, .im2, .im3{
            width: 20px;
            height: 10px;
        }
        .st1{
            left: -10px;
            display: none;
        }
        /*- третий блок -*/
        .faimg{
            width: 100px;
            height: 60px;
        }
        .pid{
            max-width: 367px;
            padding-top: 10px;
            padding-left: 15px;
        }
        .o1{
            font-size: 12px;
        }
        .o3{
            font-size: 14px;
        }
        .thre .conteinerssss{
            flex-wrap: wrap;
        }
        .thre .conteinerssss img{
            width: 350px;
        }
        /*- четвертый блок -*/
        .pol .conteinersos{
            max-width: 220px;
            height: 410px;
        }
        .pol .conteinerssss img{
            width: 1000px;
            height: 60px;
        }
        .pol{
            flex-direction: column;
            padding-left: 0px;
            padding-right: 0px;
            gap: 20px;
        }
        .toh{
            padding-left: 35px;
        }
        .toh img{
            width: 24px;
            height: 16px;
        }
        .toh div p{
            font-size: 12px;
        }
        .the{
            font-size: 15px;
        }
        .vba{
            font-size: 15px;
        }
        .conteinersos .tohh{
            padding-top: 0px;
        }
        .conteinersos .tohh2{
            padding-top: 0px;
        }
        .conteinersos .tohh3{
            padding-top: 0px;
        }
        .tohh .o32{
            padding-left: 40px;
        }
        .tohh .o20{
            padding-top: 6px;
            padding-right: 40px;
        }
        .tohh2 .o32{
            padding-left: 0px;
        }
        .tohh2 .o20{
            padding-top: 6px;
            padding-right: 20px;
        }
        .tohh3 .o32{
            padding-left: 40px;
        }
        .tohh3 .o20{
            padding-top: 6px;
            padding-right: 40px;
        }
        .o32{
            font-size: 16px;
        }
        .o20{
            font-size: 10px;
        }
        .blue2 {
            width: 117px;
            height: 33px;
            font-size: 12px;
        }
        /*- шестой блок -*/
        .hesterka{
            padding-top: 80px;
            padding-bottom: 80px;
        }
        .conteiner_blue2{
            width: 340px;
        }
        .hesterka .conteinerssss img{
            display: none;
        }
        .create-line{
            display: none;
        }
        .per1 .img1{
            display: none;
        }
        .per2{
            flex-wrap: wrap;
        }
        .tyr1{
            padding-bottom: 25px;
            padding-top: 25px;
        }
        .conteiner_blue2 .rt1{
            padding-left: 25px;
            padding-top: 50px;
        }
        .rt1{
            font-size: 15px;
        }
        .rote{
            padding-left: 25px;
            flex-wrap: wrap;
            padding-bottom: 50px;
        }
        .but-but{
            padding: 10px 20px 10px 20px;
        }
        /*- подвал -*/
        footer{
            display: flexbox;
            padding-left: 10px;
        }
    }
    @media screen and (max-width: 750px){
        .tre{
            flex-wrap: wrap;
        }
        .heture{
            align-items: center;
            flex-direction: column;
            gap: 30px;
        }
    }
    @media screen and (max-width: 450px){
        .conteiner nav .menu{
            padding-right: 0px;
        }
        header nav p{
            padding-right: 20px;
        }
    }
    @media screen and (max-width: 550px) {
        .conteiner nav .menu {
            display: none;
        }
        .slider{
            max-width: 200px;
        }
        .menu-menu{
            display: none;
        }
        .hamburger {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 23%;
        }
        .show-menu {
            border-radius: 8px;
            padding: 20px 50px;
            background: #777777;
            position: absolute;
            top: 100px;
            right: 0;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .show-menu li{
            padding-top: 10px;
            text-align: center;
        }
    }
}